p {
  width: 300px;
}

h2 {
  text-align: center;
  width: 300px;
  color: red;
}

div {
  border: 2px solid black;
  width: 300px;
  margin-bottom: 20px;
  padding: 0 10px;
}

button {
  margin-left: 10px;
  margin-bottom: 20px;
}
